.button {
  display: block;
  min-width: 216px;
  padding: 16px 10px 19px 10px;

  font-family: $font-deafult;
  font-size: 21px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: $white;
  text-shadow: 0 1px 4px transparentize($black, 0.88);
  font-variant: small-caps;

  background-image: $gradient-btn;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-image: $gradient-btn-hover;
  }

  &:active {
    background-image: $gradient-btn-click;
  }
}
