.input {
  display: block;
  min-width: 250px;
  padding: 19px 10px 16px 40px;

  font-family: $font-deafult;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: $main-black;
  text-transform: uppercase;

  background-color: $white;
  border: 2px solid $gray;
  border-radius: 80px;
  outline: none;

  &::placeholder {
    color: transparentize($main-black, 0.5);
    font-variant: small-caps;
  }

  &:hover,
  &:focus {
    border-color: $yellow;
    box-shadow: 0 4px 4px transparentize($black, 0.75);
  }

  &:required:valid {
    border-color: $main-black;
  }

  &--tel-bg {
    background-image: url("../img/input-bg.svg");
    background-position: 55px 38px;
    background-repeat: no-repeat;
  }

  &--valid {
    border-color: $main-black;
  }

  &--invalid {
    border-color: $red;
  }
}
