.live {
  position: relative;

  font-family: $font-deafult;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  color: transparentize($main-black, 0.13);

  background-image:
    url("../img/bg-watch-desktop@1x.png"),
    url("../img/watercolor-live-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    right 0 bottom 240px,
    left 0 bottom 97px;
  background-size:
    auto auto,
    100% auto;
}

.live__wrapper {
  @include wrapper;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 44px 18px 9.4%;
}

.live__title {
  width: 100%;
  margin-bottom: 24px;

  text-align: center;
}

.live__text {
  position: relative;
  z-index: 10;

  width: 720px;
  margin: 0;
  margin-bottom: 46px;
  margin-left: -23px;
}

.live__list-wrapper {
  position: relative;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;

  overflow: visible;
}

.live__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 57.24%;
}

.live__item {
  position: relative;

  display: flex;
  align-items: flex-end;
  height: auto;
  margin-bottom: 30px;

  font-family: $font-img;
  font-size: 21px;
  line-height: 25px;
  font-weight: 800;
  font-style: normal;
  text-align: left;
  color: $white;
  text-shadow: 0 1px 4px transparentize($black, 0.88);

  &--tour {
    position: absolute;
    top: -9.6%;
    left: -76%;
    z-index: -1;

    width: 74.5%;
  }

  &--hebrew {
    width: 32.36%;
  }

  &--learn {
    width: 63.04%;
  }

  &--project {
    width: 63.04%;
  }

  &--development {
    width: 32.82%;
  }
}

.live__item-text {
  position: absolute;

  margin: 0;
  padding: 10px 20px 32px 32px;
}

.live__item-img {
  display: block;
  height: auto;
  width: 100%;
}

.live__control-list {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .live__item-text {
    padding: 8px 10px 32px 19px;

    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: $mobile-width-only) {
  .live {
    background-image: none;
  }

  .live--no-js .live__list {
    flex-wrap: wrap;
  }

  .live--no-js .live__item {
    display: flex;
  }

  .live__wrapper {
    padding: 39px 16px 39px 16px;
  }

  .live__title {
    margin-bottom: 24px;
  }

  .live__text {
    width: auto;
    margin-bottom: 24px;
    margin-left: 0;

    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .live__list-wrapper {
    justify-content: center;

    overflow: hidden;
  }

  .live__list {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    flex-wrap: nowrap;
  }

  .live__item {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: fit-content;
    margin-bottom: 19px;

    font-size: 18px;
    line-height: 21px;
    text-align: center;

    &--tour {
      position: static;

      width: 100%;
    }

    &--hebrew {
      width: 100%;
    }

    &--learn {
      width: 100%;
    }

    &--project {
      width: 100%;
    }

    &--development {
      width: 100%;
    }
  }

  .live__item picture {
    width: 100%;
  }

  .live__item-text {
    padding: 10px 30px 24px 30px;

    font-size: 5.7vw;
    line-height: 6.65vw;
  }

  .live__control-list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .live__control-item {
    width: 8px;
    height: 8px;
    margin-right: 6px;
    padding: 0;

    background-color: transparentize($main-black, 0.8);
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-image: $gradient;
      border: 0;
    }
  }
}
