.reviews {
  font-family: $font-deafult;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: transparentize($main-black, 0.26);

  background-image:
    url("../img/bg-reviews-desktop@1x.png"),
    url("../img/watercolor-reviews-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position:
    right 0 top 79px,
    right 0 top 60px;
}

.reviews--no-js .reviews__item {
  display: flex;
  margin-bottom: 60px;
}

.reviews--no-js .reviews__control {
  display: none;
}

.reviews__wrapper {
  @include wrapper;

  position: relative;

  padding: 23px 0 110px 0;
}

.reviews__title {
  margin-bottom: 8px;

  text-align: center;
}

.reviews__item {
  position: relative;

  display: none;

  &--active {
    display: flex;
  }
}

.reviews__img {
  display: block;
  width: 364px;
  height: 480px;
  margin-right: 40px;
  margin-left: 2px;
}

.reviews__content {
  flex-shrink: 4;
  width: 60%;
  padding: 40px 30px 40px 0;
}

.reviews__name {
  margin: 0;
  margin-bottom: 9px;

  font-size: 24px;
  line-height: 36px;
}

.reviews__programm {
  margin: 0;
  margin-bottom: 31px;

  font-size: 15px;
  line-height: 21px;
}

.reviews__programm span {
  margin-right: 5px;

  color: $blue;
}

.reviews__text {
  margin: 0;
  margin-bottom: 16px;
}

.reviews__item-link {
  display: block;

  line-height: 32px;
  color: $blue;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.reviews__social {
  position: absolute;
  bottom: 1px;
  right: 87px;
}

.reviews__social li {
  margin-left: 17px;
}

.reviews__control {
  position: absolute;
  left: 406px;
  bottom: 107px;

  display: flex;
  align-items: center;
}

.reviews__counter {
  min-width: 36px;
  margin: 0;
  margin-right: 14px;

  font-size: 17px;
  line-height: 25px;
  color: transparentize($main-black, 0.5);
}

.reviews__control-button {
  width: 60px;
}

@media (max-width: $mobile-width-only) {
  .reviews {
    background-image:
      url("../img/bg-reviews-mobile@1x.png"),
      url("../img/watercolor-reviews-mobile@1x.jpg");
    background-position:
      right 0 top 554px,
      right 0 top 761px;
  }

  .reviews--no-js .reviews__item {
    margin-bottom: 20px;
  }

  .reviews__wrapper {
    padding: 28px 0 37px 0;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .reviews__img {
    width: 240px;
    height: 320px;
    margin: 0;
  }

  .reviews__content {
    width: 100%;
    padding: 58px 16px 40px 16px;
  }

  .reviews__programm {
    margin-bottom: 25px;
  }

  .reviews__programm span {
    display: block;
    margin-right: 5px;
  }

  .reviews__text {
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 26px;
  }

  .reviews__item-link {
    margin-bottom: 20px;
  }

  .reviews__social {
    position: static;

    margin-left: -4px;
  }

  .reviews__social li {
    margin-left: 16px;
  }

  .reviews__control {
    top: 417px;
    bottom: auto;
    left: calc(50% - 48px);
  }
}
