$font-deafult: "Fira Sans", "Arial", sans-serif;
$font-title: "Montserrat", "Arial", sans-serif;
$font-img: "Raleway", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width: 1175px;

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$gradient: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$gradient-btn-list: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
$gradient-btn: linear-gradient(142.39deg, #ffc341 20.46%, #ffd701 65.31%);
$gradient-btn-hover: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
$gradient-btn-click:
  radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
  linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);

$red: #ff0000;
$yellow: #ffc341;
$blue: #1fc0fc;
$gray: #e3e3e3;
$main-black: #484848;

$black: #000000;
$white: #ffffff;
